<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GitHubMembers" value="bgross,dhoizner,izlobinskiy,nshahid-mdsol,mkhuspe,tychen-mdsol,sjakir,vorman,Vascods,zcao,mmatta,zichen-mdsol,vcapers-mdsol,smicalizzi-mdsol,rmosquera,pmartinez-mdsol,mglintz-mdsol,mnohai-mdsol,Mansi-Shah,georgeblake,dcassidy-mdsol,gtaylor-mdsol,briansingh-mdsol,amonticchio,vikaschoithani,davidjetter,vraj,echen-mdsol,chenghuang-mdsol,fbotero-mdsol,hrivera,art2003,chwilliams,sjakir,vyaroshevskiy,junshao,mrobinson-mdsol,mzibkoff,klofton" />
    <add key="LessImportantTags" value="NRTM, postponed, donotmerge,Housekeeping" />
    <add key="OverdueTicks" value ="172800"/>
    <add key="GitHubRepos" value="mdsol/Gambit,mdsol/Rave,mdsol/ravegarage"/>
    <add key="GitHubToken" value="d204501c0ff9c5992d1500a2f75e4c9ded7476b6"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>